# Laravel App 기본 설정
APP_NAME=D.LAB-ON
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

# 로그 설정
LOG_CHANNEL=daily
LOG_LEVEL=debug

# DB 접속 정보 (Mysql)
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

#iamport 계정 정보
IAMPORT_USER_CODE=
IAMPORT_API_KEY=
IAMPORT_API_SECRET=

#주소 검색 API 승인키
JUSO_API_KEY=

#학교 검색 API 키
OPEN_API_KEY=

# 앨리스 API 연동 설정
ELICE_APP_URL=https://dlabon.elice.io
ELICE_API_URL=https://api-esp-proxy.elice.io/default/sso/dlabon
ELICE_API_SECRET=

# 메일 서버 설정
MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

# COOL SMS API
COOL_SMS_API_KEY=NCSUEVYNKCWFRS50
COOL_SMS_API_SECRET=XIIIT1JDC1JIWGZ81HFNSXHXQFEO2COQ

# TINY MCE API
MIX_TINYMCE_API_KEY="veqpbkwi03k2shfcaodo55rv3igwf7o0re4m4v8dq46tnfbd"

# 카카오 연동 설정
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
